@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: blue;
}

a:visited {
  color: gray;
}

body {
  font-family: "Raboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: #f1f1f1;
  color: #0f141e;
}


.avatar {
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0,0,0,25);
}

.container {
  max-width: 750px;
  margin-bottom: auto;
  margin-left: 15px;
  padding-top: 30px;
}

.info {
  margin-bottom: 20px;
  display: flex;
  
}

.info-text{
  margin-left: 40px;  
}

.info-text p {
  font-style: italic;
  font-weight: bold;
  color: #86898f;
}

@media (max-width:650px) {
  .info {
    display: block;
    text-align: center;
  }
}

.info-text h4 {
  margin-bottom: 7px;
  margin-top: 60px;
}

.card {
  border-radius: 20px;
  padding: 15px 20px;
  margin-bottom: 20px;
  max-width: 750px;
  border-style: dashed;
  border-width: 2px;
  border-color: #86898f;
}

.bg-1 {
  /* background: #48aae4; */
}

.bg-2 {
  background: #d6d6d6;
}

.bg-3 {
  background: #e5ffe7;
}

.btn  {
  background: #111;
  padding: 15px 20px;
  color: #fff;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.list {
  padding: 0px 20px;
}

.list li {
  font-weight: bold;
  margin-bottom: 8px;
}

.job {
  width: 100%;
}

.job td {
  padding-bottom: 10px;
}

.job td:nth-child(1){
  font-weight: bold;
}

.form h2 {
  text-align: center;
}

.form-row {
  margin-bottom: 10px;
  display: flex;
}

.form-row .form-item {
  margin-right: 20px;
  width: 50%;
}

 .form-row .form-item:last-child {
  margin-right: 0;
} 

@media (max-width:650px) {
  .form-row {
    display: block;
  }

  .form-row .form-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  } 
}

.form-item label {
display: block;
font-size: 14px;
}

.form-item input,
.form-item textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(138, 138, 138);
  color: #000;
  padding: 15px 0 10px;
  font-family: inherit;
}

/* .course {
  margin: 10px;
  max-width: 750px;
  padding: 5px;
  border: dashed;
  border-width: 2px;
  border-radius: 15px;
  border-color: #86898f;
} */